# Django
Django==5.1.7
django-admin-interface==0.29.4
django-tinymce==4.1.0
django-advance-thumbnail==1.0.2
django-health-check==3.18.3
django-cleanup==9.0.0
django-select2==8.3.0
django-ninja==1.3.0
django-ninja-extra==0.22.3
django-modelclone-next==0.8.2
django-vite==3.1.0
django-bootstrap5==24.3
django-vectortiles==1.0.1
django-leaflet==0.32.0
django-cache-cleaner==0.2.0

# Environment variables
django-environ==0.12.0
python-dotenv==1.0.1

# prod server
gunicorn==23.0.0

# image manipulation
Pillow==11.1.0

# Dataabse (psycopg[binary] cannot be locked to specific version number)
psycopg[binary]
