{% extends "base.html" %}
{% load solo_tags %}

{% block styles %}
{% endblock %}

{% block javascript %}
{% endblock %}

{% block content %}
    {% get_solo 'bep_config.AboutPage' as about_page %}
    <section class="py-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 col-xxl-6">
                    <div class="my-5 text-center">
                        <h1 class="display-5 fw-bolder mb-2">{{ about_page.heading }}</h1>
                        <div class="lead fw-normal text-muted mb-4">
                            {{ about_page.content|safe }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% for content_block in about_page.content_blocks.all %}
        {% cycle 'odd' 'even' as row_cycle silent %}
        {% partialdef content_block_image %}
            <div class="col-lg-6">
                <img src="{{ content_block.thumbnail.url }}" alt="" class="img-fluid rounded mb-5 mb-lg-0" />
            </div>
        {% endpartialdef %}
        {% partialdef content_block_text %}
            <div class="col-lg-6">
                <h2 class="fw-bolder">{{ content_block.heading }}</h2>
                <div class="lead fw-normal text-muted mb-0">
                    {{ content_block.content|safe }}
                </div>
            </div>
        {% endpartialdef %}
        <section class="py-5 {% if row_cycle == 'odd' %}bg-dark{% endif %}">
            <div class="container">
                <div class="row gx-5 align-items-center">
                    {% if row_cycle == 'odd' %}
                        {% partial content_block_image %}
                        {% partial content_block_text %}
                    {% else %}
                        {% partial content_block_text %}
                        {% partial content_block_image %}
                    {% endif %}
                </div>
            </div>
        </section>
    {% endfor %}
    <section class="py-5 {% if about_page.content_blocks.all|length|divisibleby:'2' %}bg-dark{% endif %}">
        <div class="container">
            <h2 class="fw-bolder text-center pb-5">Team Members</h2>

            <div class="row gx-5 row-cols-1 row-cols-sm-2 row-cols-xl-4">
                {% for team_member in about_page.team_members.all %}
                    <div class="col mb-5 mb-5 mb-xl-0 text-center">
                        <img src="{{ team_member.thumbnail.url }}" alt="{{ team_member.name }}" class="rounded-circle mb-4 px-4" style="max-width: 150px; max-height: 150px" />
                        <h5 class="fw-bolder">{{ team_member.name }}</h5>
                        <div class="fst-italic text-muted">
                            {{ team_member.profile|safe }}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}