{% load static %}
{% load django_bootstrap5 %}
{% load django_vite %}
<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="google" content="notranslate" />
        <title>Books in English Parishes</title>
        <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">

        {% vite_hmr_client %}
        {% vite_asset 'bep.js' crossorigin="" %}
        {% block styles %}
        {% endblock %}
    </head>
    <body class="d-flex flex-column h-100">
        <header>
            <nav class="navbar navbar-expand-lg flex-shrink-0">
                <div class="container">
                    <a class="navbar-brand" href="{% url 'home' %}">Books in English Parishes</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div id="navbarSupportedContent" class="collapse navbar-collapse">
                        <ul class="navbar-nav mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'parishes' %}">Parishes</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'transactions' %}">Transactions</a>
                            </li>
                        </ul>
                        <ul class="navbar-nav mb-2 mb-lg-0 ms-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'about' %}">About</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <main class="flex-grow-1 bg-secondary-subtle pt-5">
            {% bootstrap_messages %}

            {% block content %}
            {% endblock %}
        </main>
        <footer class="py-4 flex-shrink-0">
            <div class="container">
                <div class="row align-items-center justify-content-between flex-column flex-sm-row">
                    <div class="col-auto">
                        <div class="small m-0 text-white">Books in English Parishes</div>
                    </div>
                    <div class="col-auto">
                        <a class="link-light small" href="https://docs.dhil.lib.sfu.ca/privacy.html" target="_blank">Privacy</a>
                        {% if GIT_REPO_LINK and GIT_REPO_LINK_TEXT %}
                            <span class="text-white mx-1">&middot;</span>
                            <a class="link-light small" target="_blank" href="{{ GIT_REPO_LINK }}">{{ GIT_REPO_LINK_TEXT }}</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </footer>

        {% block javascript %}
        {% endblock %}
    </body>
</html>
