{% extends "base.html" %}
{% load django_bootstrap5 %}

{% block styles %}
{% endblock %}

{% block javascript %}
{% endblock %}

{% block content %}
    <div class="container pb-5">
        <figure>
            <blockquote class="blockquote"><h1>Dioceses</h1></blockquote>
            <figcaption class="blockquote-footer">{% include "_partials/pagination_label.html" with page_obj=page_obj %}</figcaption>
        </figure>

        <form method="get" action="{% url 'dioceses' %}" role="search">
            <div class="input-group pb-2">
                {% include "_partials/search_help_btn.html" %}
                {{ form.q }}
                <button class="btn btn-primary" type="submit">
                    <i class="bi bi-search" aria-hidden="true"></i> Search
                </button>
            </div>
        </form>
        <hr />
        {% for object in object_list %}
            {% with geom_pre_1541=object.geom_pre_1541 geom_post_1541=object.geom_pre_1541 %}
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">
                            {% if request.GET.q %}
                                {{ object.label_headline|safe }}
                            {% else %}
                                {{ object.label|safe }}
                            {% endif %}
                        </h5>
                        <div class="row align-items-stretch gx-1">
                            <div class="{% if geom_pre_1541 and geom_post_1541 %}col-xl-4{% elif geom_pre_1541 or geom_post_1541 %}col-xl-8{% endif %}">
                                {% if request.GET.q %}
                                    {{ object.description_headline|safe }}
                                {% else %}
                                    {{ object.description|safe }}
                                {% endif %}
                                {% include '_partials/search_tag.html' with category='Province' label=object.province.label %}
                                {% comment %} {% include '_partials/search_tag.html' with category='Nation' label=object.province.nation.label %}{% endcomment %}
                            </div>
                            {% if geom_pre_1541 %}
                                <div class="col-xl-4">
                                    <figure class="figure h-100 w-100 m-0 d-flex flex-column">
                                        <div class="diocese-map-app" data-diocese-id="{{ object.id }}" data-view="pre_1541"></div>
                                        <figcaption class="figure-caption text-center">Boundaries before 1541</figcaption>
                                    </figure>
                                </div>
                            {% endif %}
                            {% if geom_post_1541 %}
                                <div class="col-xl-4">
                                    <figure class="figure h-100 w-100 m-0 d-flex flex-column">
                                        <div class="diocese-map-app" data-diocese-id="{{ object.id }}" data-view="post_1541"></div>
                                        <figcaption class="figure-caption text-center">Boundaries for 1541 and after</figcaption>
                                    </figure>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    {% if request.GET.q %}
                        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-secondary" title="Matching Score">
                            {{ object.rank|floatformat:"0" }}%
                        </span>
                    {% endif %}
                    <a href="{% url 'diocese' pk=object.pk %}" class="stretched-link"></a>
                </div>
            {% endwith %}
        {% empty %}
            <div class="alert alert-warning" role="alert">No records found. Try adjusting your search terms or filters.</div>
        {% endfor %}
        {% if page_obj.paginator.num_pages > 1 %}
            {% bootstrap_pagination page_obj url=request.get_full_path justify_content='center' %}
        {% endif %}
    </div>
{% endblock %}
