{% extends "base.html" %}

{% block content %}
    <div class="container pb-5">
        <h1>{{ object.label }}</h1>
        <hr />
        {% with geom_point=object.geom_point %}
            <div class="card mb-5">
                <details id="parish-details" class="card-body" open>
                    <summary class="card-title h5">Parish Details <hr class="mt-4" /></summary>

                    <div class="row align-items-stretch gx-1">
                        <div class="{% if geom_point %}col-xl-6{% endif %}">
                            <dl class="row gy-3 m-0 row-cols-1 row-cols-lg-2">
                                {% if object.address %}
                                    <dt class="col col-lg-2 col-xl-4 px-0">Street Address</dt>
                                    <dd class="col col-lg-10 col-xl-8 px-0">
                                        {{ object.address|safe }}<br>
                                        <a target="_blank" href="https://maps.google.com/?q={{ object.address|escape }}">Google Maps</a>
                                        <a target="_blank" href="https://www.openstreetmap.org/search?query={{ object.address|escape }}">OpenStreetMap</a>
                                    </dd>
                                {% endif %}
                                {% if geom_point %}
                                    <dt class="col col-lg-2 col-xl-4 px-0">Geocoordinates</dt>
                                    <dd class="col col-lg-10 col-xl-8 px-0">
                                        {{ object.geom_point.y }}, {{ object.geom_point.x }}<br>
                                        <a target="_blank" href="https://maps.google.com/?q={{ object.geom_point.y }},{{ object.geom_point.x }}">Google Maps</a>
                                        <a target="_blank" href="https://www.openstreetmap.org/?mlat={{ object.geom_point.y }}&mlon={{ object.geom_point.x }}&zoom=15">OpenStreetMap</a>
                                    </dd>
                                {% endif %}
                            </dl>
                        </div>
                        {% if geom_point %}
                            <div class="col-xl-6 py-1">
                                <div class="parish-map-app h-100" data-parish-id="{{ object.id }}"></div>
                            </div>
                        {% endif %}
                    </div>
                    <dl class="row gy-3 m-0 row-cols-1 row-cols-lg-2">
                        {% include '_partials/item_detail.html' with label="Description" value=object.description %}
                        {% if object.links|length > 0 %}
                            <dt class="col col-lg-2 px-0">Links</dt>
                            <dd class="col col-lg-10 px-0">
                                {% for link in object.links %}
                                    <a target="_blank" href="{{ link }}">{{ link }}</a><br />
                                {% endfor %}
                            </dd>
                        {% endif %}
                        {% comment %} {% include '_partials/item_detail_info_modals.html' with label="Nation" object_type="nation" item=nation %} {% endcomment %}
                        {% include '_partials/item_detail_info_modals.html' with label="Province" object_type="province" item=province %}
                        {% include '_partials/item_detail_info_links.html' with label="Diocese" link_name="diocese" item=diocese %}
                        {% include '_partials/item_detail_info_modals.html' with label="Archdeaconry <br />or Peculiar Court" object_type="archdeaconry" item=archdeaconry %}
                        {% include '_partials/item_detail_info_links.html' with label="County" link_name="county" item=county %}
                        {% include '_partials/item_detail_info_modals.html' with label="Town" object_type="town" item=town %}
                    </dl>
                </details>
            </div>
        {% endwith %}

        <div class="card mb-5">
            <details id="parish-visualizations" class="card-body" open>
                <summary class="card-title h5">Timelines / Visualizations <hr class="mt-4" /></summary>
                TODO: Visualizations
            </details>
        </div>
    </div>
{% endblock %}
