html,
body {
    height: 100%;
    margin: 0;
}

main .blockquote-footer::before {
  content: none;
}

a[href^="http://"]::after,
a[href^="https://"]::after {
  content: "\F1C5";
  display: inline-block;
  font-family: bootstrap-icons !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: -.125em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-left: 0.5ex;
}

@media (max-width: 1199px) {
  .min-vh-100-lg {
      min-height: 100vh !important;
  }
}