@import 'bootstrap/dist/css/bootstrap.min.css';
@import 'bootstrap-icons/font/bootstrap-icons.css';
@import '@fortawesome/fontawesome-free/css/fontawesome.min.css';
@import '@fortawesome/fontawesome-free/css/solid.min.css';

@import 'select2/dist/css/select2.css';
@import 'select2-bootstrap-5-theme/dist/select2-bootstrap-5-theme.css';
@import './select2-bootstrap-dark-theme.css';

@import 'vue-multiselect/dist/vue-multiselect.min.css';

html,
body {
    height: 100%;
    margin: 0;
}

main .blockquote-footer::before {
  content: none;
}

a[href^="http://"]::after,
a[href^="https://"]::after {
  content: "\F1C5";
  display: inline-block;
  font-family: bootstrap-icons !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: -.125em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-left: 0.5ex;
}

@media (max-width: 1199px) {
  .min-vh-100-lg {
      min-height: 100vh !important;
  }
}

.ol-map {
  cursor: grab;
}
.ol-map:active {
  cursor: grabbing;
}
.ol-attribution {
  bottom: 1em;
}
.ol-search > button {
  height: 1.55em !important;
  width: 1.55em !important;
}
.ol-layerswitcher.ol-unselectable.ol-control.ol-forceopen {
  background-color: transparent !important;
}
.ol-layerswitcher .panel li label {
  max-width: none;
}
.ol-layerswitcher .panel li label span {
  color: #35495e !important;
}
.ol-layerswitcher .layerswitcher-opacity {
  display: none !important;
}

.multiselect__tags {
  padding-right: 4em !important;
}
.multiselect__input {
  color: #35495e !important;
}
.multiselect__clear {
  cursor: pointer;
  display: inline-block;
  position: absolute;
  top: 0.5em;
  right: 2em;
}
.multiselect__placeholder {
  padding: 0px 0px 0px 5px;
}
.loading-dots {
  font-family: monospace;
  clip-path: inset(0 3ch 0 0);
  animation: loading_dots 1s steps(4, jump-none) infinite;
}
@keyframes loading_dots {
  to {
    clip-path: inset(0)
  }
}
.parish-map-app {
    min-height: 200px;
}
.diocese-map-app {
    min-height: 400px;
}

/* support slightly fancy details */
details>summary {
  list-style: none;
  cursor: pointer;
  position: relative;
}
summary::-webkit-details-marker {
  display: none
}
summary::after {
  content: ' \F285';
  font-family: "bootstrap-icons";
  position: absolute;
  right: 0.25em;
  top: 0;
  font-weight: bold;
}
details[open] summary::after {
  content: ' \F282';
}
details summary hr {
  display: none;
}
details[open] summary hr {
  display: inherit;
}