.input-group > .multiselect {
  flex: 1 1 auto;
  width: 1%;
}
.input-group > .multiselect > .multiselect__tags {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

/* #dashboard-map canvas {
  filter: invert(100%) hue-rotate(180deg);
} */

.ol-attribution {
  bottom: 4.5em;
}
.ol-timeline {
  font-size: 2em;
}
.ol-timeline .ol-scroll {
  height: 2em;
}
.ol-timeline .ol-scroll .ol-features {
  z-index: 1000;
}

.ol-timeline .ol-scroll .ol-feature {
  padding: 0;
  background: none;
  border: none;
  transition: none;
  top: 0 !important;
}
.ol-timeline .ol-scroll .ol-features .ol-feature {
  overflow: hidden;
  white-space: nowrap;
}

.timeline-tooltip {
  --bs-tooltip-bg: var(--bs-body-bg);
  --bs-tooltip-color: var(--bs-body-color);
}